$dark-grey: #1e1e1e;
$white: #fff;

.footer-content{
    background-color: $white;
    padding-top: 24px;
    padding-bottom: 24px;
    a{
        color: $dark-grey;
     }
    .ul{
        margin: 0;
        padding: 0;  
    }
    .footer-content-left-font{
        font-family: GreycliffCF;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: $dark-grey;
    }
    .social-media-title{
        margin-bottom: 16px;

        
    }
    .social-media-icon{
        margin-right: 7px;
    }

    .language-title{
        margin-bottom: 16px;

    }
}

@media (max-width:768px) {
    .footer-content{
        padding-top: 14px;
        padding-bottom: 31px;
        .social-media-title{
            margin-top: 30px;
            margin-bottom: 15px;
            
        }
        .social-media-row{
            justify-content: center;
        }
        .language-title{
            margin-top: 30px;
    
        }

    }
}