$green: #76b900;
$black: #000;
$grey-medium: #666;
$grey-light: #b2b2b2;
$red: #ff2525;
$dark-grey: #1e1e1e;
$grey-dark: #1e1e1e;
$white: #fff;
$bluey-grey: #8e9fad;

li{
  list-style: none;
}

a{
  text-decoration: none;
}
