.heroModuleDisDiv{
    background-image: url("https://cdn.zeplin.io/5f91645bc7d3b352a5fe0ebd/assets/CB5C08B8-E196-4604-AFE5-2F1D93A25767.png");
    background-repeat: no-repeat;
    background-size: cover;
  height: 620px;

  padding: 175px 30px 176px;
  object-fit: contain;
  display: flex;
  flex-direction: row;

  .leftArrow{
    width: 48px;
    height: 48px;
    margin: 111px 42px 110px 0;
    object-fit: contain;
    background:none;
    border: none;
  }
  .heroModuleTitle{
    width: 691px;
  height: 96px;
  margin: 0 0 15px;
  font-family: GreycliffCF;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  }
  .heroModuleParagaraf{
    width: 488px;
  height: 48px;
  margin: 15px 203px 30px 0;
  font-family: GreycliffCF;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #fff;
  }
  .rightArrow{
    width: 48px;
  height: 48px;
  margin: 111px 0 110px 798px;
  object-fit: contain;
  }
}

@media (max-width: 768px) {
  .heroModuleDisDiv{    
    height: 392px;
    padding: 26px 20px 30px 20px;

    .couresel{
      width: 75%;
    }

  .heroModuleTitle{
    font-size: 24px;
    width: 280px;
    height: 87px;
  }
  .heroModuleParagaraf{
    width: 280px;
  height: 72px;
  }
  .herocontent{
    height: 318px;
    width: 350px;
  }
  .hero-circle{
    margin-top: 15px;
    display: flex;
    gap:14px;
    width: 60px;
    color:#666666;
  }
  .active{
    color: #76b900;
  }
}
}