.blogModuleDisDiv {
  background-color: #1e1e1e;
  padding: 107px 30px 106px 30px;
  display: flex;
  .leftArrow-blog {
    width: 48px;
    height: 48px;
    margin: 170px 42px 169px 0;
    object-fit: contain;
    background: none;
    border: none;
  }
  .itemsBlog {
    background-color: #292929;
    display: flex;
    flex-direction: row;
    .blog-image {
      width: 387px;
      height: 387px;
    }
    .BlogModuleRight {
      background-color: #292929;
      height: 387px;
      padding: 70px 30px 71px;
      display: flex;
      flex-direction: column;
      gap: 15px;

      .blogModuleDate {
        font-family: GreycliffCF;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #afafaf;
      }
      .blogModuleTitle {
        font-family: GreycliffCF;
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #afafaf;
      }
      .blogModuleParagaraf {
        font-family: GreycliffCF;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: normal;
        color: #afafaf;
      }
    }
  }

  .rightArrow-blog {
    width: 48px;
    height: 48px;
    margin: 170px 0 169px 42px;
    object-fit: contain;
  }
}

@media (max-width: 768px) {
  .blogModuleDisDiv {
    padding: 0;

    background-color: #292929;
    display: flex;
    #carouselBlog{
        padding: 20px 20px 32px 20px;

    }
    .itemsBlog {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .blog-image {
        width: 350px;
        height: 280px;
      }
      .BlogModuleRight {
        background-color: #292929;
        height: 260px;
        padding: 0;
        gap: 12px;
        .blogModuleTitle {
          font-size: 21px;
        }
        .blogModuleParagaraf {
          font-size: 16px;

          line-height: 1.38;
        }
      }
    }
    .blog-circle{
        margin-top: 15px;
    display: flex;
    gap:14px;
    width: 60px;
    color:#666666;
    }
    .active{
        color:#76b900;

    }
  }
}
